body {
  font-family: Arial;
  height: 100%;
  .wrapper {
    height: 100%;
    .header-bar {
      box-shadow: 0 2px 8px rgba(0,0,0,.2);
      background-color: #376cff;
      width: 100%;
      .header-container {
        height: 100%;
        a {
          color: #fff;
          text-decoration: none;
          -webkit-align-items: center;
          display: flex;
        }
        .logo {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }

    #footer-copyright {
      text-align: center;
      padding: 10px 0;
      background-color: #e0e0e0;
      color: #999;
      margin-top: 100px;
    }
  }
}

.header-drop > li > a {
  color: black !important;
}

.flash {
  margin: auto;
  position: absolute;
}

.row > * {
  position: static !important;
}
