.place_album{
  height: 180px; width:100%; background-color: green;
}

.place_info_box{
  width: 100%; height: 350px; background-color: white; margin-top: 15px;
  margin-left: 0px; float: left;
}

#googleMap{
  height: 350px; width: 50%; float: left;
}

.place_button_wrapper{
  height: 350px; width: 50%; float: left;
}

.place_button{
  margin-top:1px;
  width: 100%; height: 69px;
  background-color: grey;
  padding-left: 20px;
}

.button-content{
  vertical-align: text-bottom;
  font-size: 30px;
  display:inline-block;
}
.description_box{
  padding-top: 20px;
}

#map {
  width: 100%;
  height: 500px;
  margin-top: 10px;
  border: 1px black solid;
}

#direction-box{
  display: none;
}

.info-link{
  text-decoration: none;
  color: black;
}
