<h1><%= t ".title", business_type_name: @business_type.name %></h1>
<hr>
<div class="menu">
  <ul class="nav nav-tabs">
    <%= menu_for({url: url_for([:admin, @business_type]), action: :show},
      {url: url_for([:admin, @business_type, action: :edit]), action: :edit, active: true}) %>
  </ul>
</div>
<%= render "form" %>
